#corporate{
    width:100%;
    margin: 0px auto;

}
#cont{
    margin-top: 10px;
}
#added{
    width:200px;
    margin-top: 20px;
    margin-left: 300px;
}
#move{
    margin-left:250px;
}
#contract{
    margin-left: 250px;
}
#cont{

    margin-left: 100px;
    margin-top: -42px;
}
#conts{

    margin-left: 200px;
    margin-top: -42px;
}
#coross{

    width: 100%;
    height: 200%;
}