span{
    margin-left: 10px
}

.first_div{
    width: 100% ;
    margin: auto;
}

#motai_button{
    margin-left: 500px;
}

#div_button{
    margin-top: 20px;
}

.button_div{
    width: 200px;
    margin: 50px 500px;
}