<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/medicineManger.css">
    <!-- 先引入 Vue -->
    <script src="../../common/js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--引入公共的js-->
    <script src="../../common/js/common.js"></script>

</head>
<body style="overflow: hidden">
<div id="app">
    <template>
        <!--搜索条件-->
        <div class="search">
            <el-form ref="form" :model="form" label-width="80px">
                <el-row :gutter="20">
                    <el-col :span="5">
                        <el-form-item label="商品名称:">
                            <el-input placeholder="请输入商品名称" v-model="form.goodsName" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="5" :offset="1">
                        <el-form-item label="单价:">
                            <el-input placeholder="请输入价格" v-model="form.price" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="5" :offset="1">
                        <el-form-item label="库存:">
                            <el-input placeholder="请输入库存" v-model="form.stock" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="7">
                        <div style="text-align: right">
                            <el-button type="success" @click="submit" icon="el-icon-search">查询</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
        <!--功能按钮组-->
        <div class="func">
            <el-button-group class="btns">
                <el-button type="primary" plain @click="dialogShow('add')" icon=" el-icon-circle-plus-outline">添加
                </el-button>
                <el-button type="info" plain @click="inclusion" icon="el-icon-upload2">导入</el-button>
                <el-button type="warning" plain @click="output" icon="el-icon-download">导出</el-button>
            </el-button-group>
        </div>
        <!--水平分割线-->
        <hr/>
        <!--表格-->
        <div>
            <el-table
                    :data="tableData"
                    style="width: 100%">
                <el-table-column label="商品名称" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.goodsName }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="价格" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.price }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="库存" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.stock }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="简介" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.info }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="350px" align="center">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">
                            <i class="el-icon-edit"></i>编辑
                        </el-button>
                        <el-button size="mini" type="success" @click="handleShow(scope.$index, scope.row)">
                            <i class="el-icon-view"></i>查看
                        </el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">
                            <i class="el-icon-delete"></i>删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <!--分页条-->
        <div class="block">
            <el-pagination
                    @size-change="handleSizeChange"
                    align="right"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage4"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="40">
            </el-pagination>
        </div>
        <!--新增/修改dialog-->
        <div style="height: 350px">
            <el-dialog title="新增药品信息" :visible.sync="dialogFormVisible" width="800px" style="margin-top: -60px">
                <div style="height: 350px;">
                <el-form id="infoDialog" :model="medicineBean" ref="medicineBean" label-width="100px">
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="商品名称" prop="medicineName">
                            <el-input v-model="medicineBean.medicineName" style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="单价" prop="price">
                            <el-input v-model="medicineBean.price" placeholder="请输入单价" style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="库存" prop="stock">
                            <el-input v-model="medicineBean.stock" placeholder="请输入库存量" style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="有效期" prop="validity">
                            <el-date-picker
                                    v-model="medicineBean.validity"
                                    align="right"
                                    type="date"
                                    placeholder="选择日期"
                                    class="medicine"
                                    value-format="yyyy-MM-dd"
                                    style="width: 250px;">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="药品类型" prop="medicineType">
                            <el-input v-model="medicineBean.medicineType" placeholder="请输入药品类型（口服/外用）"
                                      style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="适用症" prop="applicability">
                            <el-input v-model="medicineBean.applicability" placeholder="请输入适用症"
                                      style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="商品简介" prop="info">
                            <el-input v-model="medicineBean.info" placeholder="请输入商品简介" style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="商品类型" prop="type">
                            <el-input v-model="medicineBean.type" placeholder="请输入库存量" style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="图片" prop="picUrl">
                            <el-input v-model="medicineBean.picUrl" placeholder="请选择图片" style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="margin-top: -30px">
                        <el-form-item label="商品详细信息" prop="picUrl">
                            <el-input v-model="medicineBean.picUrl" placeholder="请输入商品详细信息" style="width: 250px;"></el-input>
                        </el-form-item>
                    </el-col>

                </el-form>
                </div>
                <div v-if="dialogType==='add'">
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false" right>取 消</el-button>
                        <el-button type="primary" @click="add('medicineBean')" right>确 定</el-button>
                    </div>
                </div>
                <div v-else-if="dialogType==='update'">
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false" center>取 消</el-button>
                        <el-button type="primary" @click="update('medicineBean')" center>确 定</el-button>
                    </div>
                </div>
                <div v-else-if="dialogType==='read'">
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false" center>取 消</el-button>
                    </div>
                </div>
            </el-dialog>
        </div>
    </template>
</div>
</body>
<script src="../../common/js/jquery-3.3.1.min.js"></script>
<script src="../js/medicineManger.js"></script>
</html>
