<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.clinicdb.mapper.UserMapper">

    <resultMap id="Roles" type="com.mall.clinicdb.entity.Role"></resultMap>
    <resultMap id="permissions" type="com.mall.clinicdb.entity.Permission"></resultMap>

    <select id="getRoles" parameterType="string"  resultMap="Roles">
        select r.roleId,roleName from clinic_user_role c left join clinic_role r on c.roleId = r.roleId where c.userId = #{userId}
    </select>

    <select id="getPermissions" parameterType="string" resultMap="permissions">
        select r.permissionId,permission,description from clinic_role_permission c left join clinic_permission r on c.permissionId = r.permissionId where c.roleId = #{roleId}
    </select>
</mapper>
