body{
    width: 80%;
    margin: 0px auto;
}
.out{
    width:900px;
    margin:0px auto;
    position: relative;
}
.top{
    text-align: center;
}
.find{
    width:350px;
    height: 150px;
    border: 1px black solid;
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
    line-height: 80px;
    position: absolute;
    left: 480px;
    top: 400px;
}
.date{
    width: 350px;
    height: 150px;
    border: 1px black solid;
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
    line-height: 80px;
    position: absolute;
    left: 480px;
    top: 600px;
}
.btn{
    position: absolute;
    width: 150px;
    height: 50px;
}

.add{
    left:50px;
    top: 450px;
}
.info{
    left: 230px;
    top:450px
}
.apply{
    left:50px;
    top: 580px;
}
.update{
    left: 230px;
    top:580px
}
.input{
    width: 150px;
}

.show{
    position: absolute;
    left: 5px;
    width: 100px;
}