/*div{*/
    /*outline: 1px red solid;*/
/*}*/
body{
    width: 100%;
    height: 100%;
    background-color: #94C6DD;
}
.top{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.top h1{
    color: #1E9FFF;
    font-size: 30px;
    margin: 10px 0px 0px 200px;
    text-shadow: 0 0 3px black;
}
.top p{
    color: red;
    margin: 10px 0px 0px 300px;
    font-size: 30px;
    letter-spacing: 18px;
    text-shadow: 3px 3px 3px;
}
.container{
    border: 3px #1E9FFF solid;
    width: 500px;
    height: 300px;
    margin: 100px auto 0px auto;
    border-radius: 100px 18px 100px 18px;
    text-align: center;
    background-color: #F2F2F2;
}
.container h1{
    width: 500px;
    height: 40px;
    color: #01AAED;
    font-size: 30px;
    font-style: italic;
}
form{
    width: 500px;
    height: 200px;
}
.user,.pwd{
    width: 500px;
    height: 100px;
    line-height: 100px;
}
.user input,.pwd input{
    width: 180px;
    height: 30px;
}
.btn{
    width: 210px;
    height: 50px;
    margin: 5px auto;
    line-height: 50px;
}
.btn button{
    width: 100%;
    height: 100%;
}